.hd {
  box-shadow: 0px 4px 4px 0px rgba(85, 85, 85, 0.1);
  padding: 26px 0;
}
.hd .container {
  max-width: var(--width, 1200px);
  gap: var(--Space-200, 8px);
}
.hd .container h1 {
  margin-bottom: 26px;
}
.hd .container .allmenu svg {
  margin-right: 8px;
}
.hd .container .gnbwrap {
  gap: 24px;
}
.hd .container .gnbwrap .gnb {
  gap: 24px;
}
.hd .util {
  font-size: 12px;
}
.hd .util li {
  padding: 0 8px;
}