// home
#mainSwiper {}

#mainSvg {
  padding: var(--height-64px, 64px) 24px;

  @media (max-width: 576px) {
    padding: 64px 0 64px 24px !important;
    }

  @media (max-width: 400px) {
    padding: 32px 0 32px 12px !important;
    }
  #newProduct {}
  
}