.svgList {
  @media (max-width: 768px) {
    flex-wrap: wrap;
    justify-content: center;
  }

  .svgItem {
    flex: 0 0 calc(100% / 11 - 10px);
    max-width: calc(100% / 11 - 10px);

    @media (max-width: 768px) {
      flex: 0 0 calc(100% / 5 - 10px);
      max-width: calc(100% / 5 - 10px);
    }
  }
}

.svgItem {
  &.hide-on-desktop {
    display: none; // 기본적으로 숨김

    @media (max-width: 1200px) {
      display: flex; // 1200px 이하에서만 표시
    }
  }
}
