.svgList {
  @media (max-width: 768px) {
    flex-wrap: wrap;
    justify-content: center;
  }

  .svgItem {
    flex: 0 0 calc(100% / 11 - 10px);
    max-width: calc(100% / 11 - 10px);

    @media (max-width: 768px) {
      flex: 0 0 calc(100% / 5 - 10px);
      max-width: calc(100% / 5 - 10px);
    }
  }
}